.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    transition: transform var(--transition-base), color var(--transition-base) !important;

    &:hover {
        transform: scale(1.08);
        color: var(--primary-color);
    }

    .logo-text {
        font-size: var(--font-size-logo);
        font-weight: 700;
        color: var(--text-color);
        transition: color var(--transition-base);
    }

    .logo-icon {
        width: 38px;
        height: 38px;
        background-color: var(--primary-color);
        color: var(--white);
        font-weight: bold;
        font-size: calc(var(--font-size-icon) + 0.2rem);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        margin-right: 10px;
        transition: background-color var(--transition-base), color var(--transition-base);
    }

    &.transparent {
        .logo-text {
            color: var(--white) !important;
        }

        .logo-icon {
            background-color: var(--white) !important;
            span {
                color: var(--primary-color-bold) !important;
            }
        }

        &:hover {
            .logo-text {
                color: var(--primary-hover) !important;
            }
            .logo-icon {
                background-color: var(--primary-hover) !important;
                span {
                    color: var(--white) !important;
                }
            }
        }
    }

    .logo-text,
    .logo-icon span {
        transition: color 0.2s ease;
    }
}
