@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&display=swap');

:root {
    --primary: rgba(#ebe5d8);
    background-color: #f6f4ef;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Instrument Serif', serif;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

h1 {
    color: #000;
}
