.nav {
    display: flex;
    gap: 22px;
    transition: all 0.3s ease;

    button {
        background: none;
        border: none;
        font-size: var(--font-size-nav);
        font-weight: 500;
        cursor: pointer;
        color: var(--text-color);
        transition: color var(--transition-base);

        &:hover {
            color: var(--primary-color);
        }
    }
}
