.wrapper {
    width: 100%;
    background-color: var(--white);
    box-shadow: var(--shadow-header);
    position: sticky;
    top: 0;
    z-index: 100;
}

.content {
    max-width: var(--container-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 24px;
}

.actions {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    gap: 24px;
    position: relative;
    min-width: 200px;
    min-height: 40px;
}
