html {
    scroll-behavior: smooth;
}
.footer {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 5rem 0 2rem;
    font-size: var(--font-size-base);
    border-top: 1px solid #e5e5e5;

    .container {
        width: 90%;
        max-width: var(--container-width);
        margin: 0 auto;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr;
        gap: 4rem;

        @media (max-width: 768px) {
            grid-template-columns: 1fr 1fr;
            gap: 3rem;
        }

        @media (max-width: 480px) {
            grid-template-columns: 1fr;
            text-align: center;
        }
    }

    .footer-section {
        font-size: 1.5rem;

        h4 {
            font-size: 1.6rem;
            font-weight: 600;
            margin-bottom: 1.5rem;
            color: var(--primary-color-bold);
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            margin-bottom: 1rem;
        }

        a {
            color: #555;
            text-decoration: none;
            transition: color var(--transition-base);

            &:hover {
                color: var(--primary-color);
            }
        }
    }

    .brand {
        display: flex;
        flex-direction: column;

        .logo {
            display: flex;
            align-items: center;
            margin-bottom: 1.5rem;

            .logo-icon {
                background-color: var(--primary-color);
                color: var(--white);
                border-radius: 10px;
                font-weight: 600;
                font-size: 2rem;
                padding: 1rem 1.3rem;
                margin-right: 1rem;
                transition: transform var(--transition-fast);
            }

            .logo-text {
                font-size: var(--font-size-logo);
                font-weight: 700;
                color: var(--primary-color-bold);
            }
        }

        .desc {
            color: #666;
            line-height: 1.6;
            margin-bottom: 1.5rem;

            .text {
                padding-top: 1rem;
                font-size: 1.5rem;
            }
        }

        .social {
            display: flex;
            gap: 1rem;

            a {
                color: #555;
                font-size: 1.8rem;
                transition: color var(--transition-base);

                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }

    .copyright {
        margin-top: 4rem;
        text-align: center;
        border-top: 1px solid #ddd;
        padding-top: 1.5rem;
        color: #777;
        font-size: 1.3rem;
    }
}
